/* Features page */

.features-block{
    display: inline-flex;
    justify-content: space-between;

    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
}


.features-block .row .col{
    background-color: #0c4d92;
    max-width: 180px;
    min-width: 180px;
    border-radius: 15px;
    text-align: center;
    position: relative;
    display: grid;
    padding-bottom: 20px;
}

.col-green.active{
    background-color: #5cb847 !important;
}

.features-block .row{
    width:fit-content;
}

.features-block .row .col .feature-header{
    color: white;
    text-transform: uppercase;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.feature-header.active{
    text-align: left;
}

.test-text{
    display: none;
}

.test-text.active{
    color: white;
    display: inline;
}

 .plus-toggle{
    color: white;
    background-color: #259de0;
    border-radius: 50px;
    display: flex;
    max-width: 30px;
    max-height: 30px;
    min-width: 30px;
    min-height: 30px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.plus-toggle.active{
    display: none;
}

.close-toggle.active{
    color: white;
    display: flex;
    font-size: 25px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: auto;
    text-transform: rotate(45deg);
    position: relative;
    top:2px;
    display: inline;
}

.close-toggle{
    display: none;
}

.features-image-wrapper.active{
    display: none;
}

.feature-description{
    display: none;
}

.feature-description.active{
    display: inline;
    color: white;
    text-align: left;
    font-size: 12px;
    font-family: 'Readex Pro', sans-serif;
    font-weight: 100;
    padding-top: 10px;
    margin-bottom: 0;
}

.feature-page-url{
   display:none;
}

.feature-page-url.active{
    display: inline;
    color: white;
    text-decoration: none;
    text-align: left;
}

.feature-page-url:hover{
    color:white;
}

/* Achievements page */

.achievements-section{
    padding: 30px 0px;
}

.achievements-section h1, 
.achievements-section p{
    font-family: 'Readex Pro', sans-serif;
    text-align: center;
}

.achievements-section h1{
    font-weight: 500;
}

.achievements-section .achievement-paragraph{
    font-weight: 100;
    font-size: 18px;
}



.cta-wrapper-blue{
    background-color: #259de0;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    border-radius: 10px;
    text-transform: uppercase;
}

.cta-wrapper-blue:hover{
    background-color: #1673a7;
}

.cta-wrapper-blue a{
    color: white;
    padding: 10px 45px;
    font-weight: 600;
}

.cta-wrapper-blue i{
    padding-left: 10px;
}

.cta-wrapper-blue a:hover{
    color: white;
}


/* Achievemnts custom posts styling */

.achievements-block{
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    
}



.achievement-image-wrapper{
    background-color: #0c4d92;
    border-radius: 100px;
}

.achievements-block .row .col{
    text-align: center;
}

.achievements-block .row .col h1{
    margin-bottom: 0;
}

.achievements-block .row .col h1 p{
    margin-bottom: 0;
    font-family: 'Readex Pro', sans-serif;
    font-weight: 700;
}

.achievements-block .row .col span{
    font-family: 'Readex Pro', sans-serif;
    font-weight: 100;
}

.triangle-shape{
    background-color: #0c4d92;
    clip-path: polygon(50% 0, 100% 100%, 0 100%);
    width: 30px;
    height: 15px;
    margin-left: auto;
    margin-right: auto;
    transform: rotate(180deg);
    position: relative;
    top: -5px;
}




/* Footer styling */

.footer{
    padding:30px 0px;
    border-top: 5px solid #259de0;
    background-color: #323232;
}

.footer-site-name{
    color: #259de0;
}

.footer-items div .menu li{
    list-style: none;
    padding-top: 3px;
    padding-bottom: 3px;
}

.footer-items div .menu{
    padding-left: 0;
}

.footer-items div .menu li a{
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.social-media-menu-name{
    color: #259de0;
    font-size: 14px;
    margin-bottom: 0px;
    padding-top: 3px;
    padding-bottom: 3px;
    line-height: 25px;
}

.social-media-icons {
    width: 20%;
}

.footer-items .menu-follow-us-container .menu {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
}

.footer-items .menu-follow-us-container
.menu li a i{
    font-size: 20px;
}



.footer-logo {
    position: relative;
    right: 25px;
    margin-bottom: 20px;
}

.footer-logo .custom-logo-link .custom-logo{
    display: inline;
    max-width: 200px;
    height: auto;
}

.footer-company-info{
    color: white;
    font-size: 11px;
    margin-top: 30px;
}